echo flask==2.3.3 > requirements.txt
echo flask-socketio==5.3.6 >> requirements.txt
echo opencv-python==4.8.1.78 >> requirements.txt
echo ultralytics==8.0.186 >> requirements.txt
echo numpy==1.24.3 >> requirements.txt
echo eventlet==0.33.3 >> requirements.txt